# Python / Virtual Environment
.venv/
venv/
__pycache__/
*.py[cod]
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
build/
.DS_Store

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local
tsconfig.tsbuildinfo

# VS Code
.vscode/*
!.vscode/settings.json
